
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {

  --violet-clair: #BD22FB;
  --violet-fonce: #41156A;
  --sombre: #0D0723;
  --rose: #ED26C0;

  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--sombre)
}


main {
    background-color: var(--sombre);
    align-items: center;
    transform-origin: top left;
    padding: 50px;
    position: relative;
    z-index: 2;
    transition: transform 2s;
    display: flex;
    flex-direction: column;
}

footer {
    position: relative;
    padding: 100px;
    z-index: 1;
    background-color: var(--violet-clair)
}

.texteCentrer {
    text-align: center;
}

.texteGauche {
    text-align: left;
}


h1 {
    border: 1px solid white;
    color: white;
    background-color: var(--rose);
    width: 30%;
    text-align: center;
    text-justify: center;
    padding: 10px;
    border-radius: 10px;

}

h3 {
    width: 15%;
    background-color: var(--violet-clair);
    color:white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

a {
    color:var(--rose);
}
#presentation, #annecdotes{

    margin-left: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#presentation h3 {
    margin-right: 80%;
    width: 20%;
}
#presentation div{
    background-color: var(--violet-fonce);
    display: flex;
    column-gap: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid white;;
}

#presentation * {
    color: white;
    line-height: 1.6;
}

#histoire {
    margin-right: 7%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#histoire h3 {
    margin-left: 80%;
}
#histoire div {
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--violet-fonce);
    column-gap: 20px;
}
#histoire * {
    color: white;
    line-height: 1.6;
}

#annecdotes {
    display: flex;
    flex-direction: column;
}


#annecdotes h3 {
    margin-right: 80%;
}
#annecdotes ul {

    justify-content: center;
    align-items: left;
    padding: 20px;
    background-color: var(--violet-fonce);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border:1px solid white;
    color:white
}

main img {
    background-color: black;
    width: 100%;
    height: auto;
}

#actualites {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 7%;
}

#actualites h3 {
    margin-left: 80%;
}

#actualites div {
    color:white;
    padding: 20px;
    background-color: var(--violet-fonce);
    border-radius: 20px;
    border:1px solid white;
}

