
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {

  --violet-clair: #BD22FB;
  --violet-fonce: #41156A;
  --sombre: #0D0723;
  --rose: #ED26C0;

  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--sombre)
}


main {
    background-color: var(--sombre);
    align-items: center;
    transform-origin: top right;
    padding: 50px;
    position: relative;
    z-index: 2;
    transition: transform 1s;
    display: flex;
    flex-direction: column;
}

footer {
    position: relative;
    z-index: 1;
    background-color: var(--violet-clair)
}

.texteCentrer {
    text-align: center;
}

.texteGauche {
    text-align: left;
}

div img {
    height: 100%;
    width: auto;
    background-color: white;
}

h1 {
    border: 1px solid white;
    color: white;
    background-color: var(--rose);
    width: 30%;
    text-align: center;
    text-justify: center;
    padding: 10px;
    border-radius: 10px;

}

h3 {
    width: 15%;
    background-color: var(--violet-clair);
    color:white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

a {
    color:var(--rose);
}

.imageDroite {
    display: flex;
    flex-direction: column;
}

.imageDroite div {
    background: rgba(255,255,255,0.04);
    border: 1px solid rgba(255,255,255,0.04);
    padding: 30px;
    border-radius: 12px;
    color: #fff;
    text-align:center;
    box-shadow: 0 6px 30px rgba(0,0,0,0.5);
    backdrop-filter: blur(6px);
    display: flex;
    column-gap: 20px;
}

.gauche {
    margin-right: auto;
}

.imageGauche {
    display: flex;
    flex-direction: column;
}

.imageGauche div {
    background: rgba(255,255,255,0.04);
    border: 1px solid rgba(255,255,255,0.04);
    padding: 30px;
    border-radius: 12px;
    color: #fff;
    text-align:center;
    box-shadow: 0 6px 30px black;
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: row-reverse;
    column-gap: 20px;
}

.gauche {
    margin-right: auto;
}

.droite {
    margin-left: auto;
}

#annecdotes {
    display: flex;
    flex-direction: column;
}

#annecdotes ul {
    background: rgba(255,255,255,0.04);
    border: 1px solid rgba(255,255,255,0.04);
    padding: 30px;
    border-radius: 12px;
    color: #fff;
    text-align:center;
    box-shadow: 0 6px 30px black;
    backdrop-filter: blur(6px);
}

#actualites {
    width: 100%;
}
#conteneurActu div {
    background: rgba(255,255,255,0.04);
    border: 1px solid rgba(255,255,255,0.04);
    padding: 30px;
    border-radius: 12px;
    color: #fff;
    text-align:center;
    box-shadow: 0 6px 30px black;
    backdrop-filter: blur(6px);
    width: 100%;
}





