
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 2;
}
body {

  --violet-clair: #BD22FB;
  --violet-fonce: #41156A;
  --sombre: #0D0723;
  --rose: #ED26C0;

  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--sombre);

}


main {
    background-color: var(--sombre);
    background-attachment: scroll;
    align-items: center;
    transform-origin: top right;
    padding: 50px;
    position: relative;
    z-index: 2;
    transition: transform 0.2s ;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    gap:100px;
    padding-bottom: 300px;
}

footer {
    position: relative;
    z-index: 1;
    background-color: var(--violet-clair);
    display: flex;
    flex-direction: column;

}


.texteCentrer {
    text-align: center;
}

.texteGauche {
    text-align: left;
}

div img {
    height: 100%;
    width: auto;
    background-color: white;
}

h1 {
    border: 1px solid white;
    color: white;
    background:linear-gradient(to right, var(--violet-fonce ) 10%,#421868 90%);
    width: 30%;
    text-align: center;
    text-justify: center;
    padding: 10px;
    border-radius: 10px;

}

h3 {
    width: 20%;
    background-color: var(--violet-clair);
    color:white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

a {
    color:var(--rose);
}

li {
    text-align: left;
}
.imageDroite {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

.imageDroite div {
    background: rgba(255,255,255,0.04);
    border: 1px solid rgba(255,255,255,0.04);
    padding: 30px;
    border-radius: 12px;
    color: #fff;
    text-align:center;
    box-shadow: 0 6px 30px rgba(0,0,0,0.5);
    backdrop-filter: blur(6px);
    display: flex;
    column-gap: 20px;
}

.imageDroite img {
    background-color: #0D0723;
    width: 20%;
    height: auto;
}

.gauche {
    margin-right: auto;
}

.imageGauche {
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}

.imageGauche div {
    background: rgba(255,255,255,0.04);
    border: 1px solid rgba(255,255,255,0.04);
    padding: 30px;
    border-radius: 12px;
    color: #fff;
    text-align:center;
    box-shadow: 0 6px 30px black;
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: row-reverse;
    column-gap: 20px;
}

.gauche {
    margin-right: auto;
}

.droite {
    margin-left: auto;
}

#annecdotes {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

#annecdotes ul {
    background: rgba(255,255,255,0.04);
    border: 1px solid rgba(255,255,255,0.04);
    padding: 30px;
    border-radius: 12px;
    color: #fff;
    text-align:center;
    box-shadow: 0 6px 30px black;
    backdrop-filter: blur(6px);
}

#actualites {
    margin-right: 10%;
}
#conteneurActu div {
    background: rgba(255,255,255,0.04);
    border: 1px solid rgba(255,255,255,0.04);
    padding: 30px;
    border-radius: 12px;
    color: #fff;
    text-align:center;
    box-shadow: 0 6px 30px black;
    backdrop-filter: blur(6px);
    width: 100%;
}



@media (max-width:768px) {
    h1 {
        width: 100%;
    }
    h3 {
        width: 100%;
    }

    .imageDroite div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}


